---
layout: abstracts
title: Talks
---
<div class="container">
    See <a href="index.html#sched">main page</a> for schedule details.
</div>

<a name="thursday"><center><h1>Thursday</h1></center></a>
{% for member in site.data.talks-thu %}
  <div class="container abstract">
    <p><h2>{{ member.Title }}</h2></p> 
    <p><em>{{ member.Name }}</em></p>
    <p>{{ member.Abstract | markdownify }}</p>
    <p><b>Bio:</b> {{ member.Biography }}</p>
  </div>
{% endfor %}

<a name="friday"><center><h1>Friday</h1></center></a>
{% for member in site.data.talks-fri %}
  <div class="container abstract">
    <p><h2>{{ member.Title }}</h2></p> 
    <p><em>{{ member.Name }}</em></p>
    <p>{{ member.Abstract | markdownify }}</p>
    <p><b>Bio:</b> {{ member.Biography }}</p>
  </div>
{% endfor %}

<div class="container">
  <a href="/index.html">Return to main page</a>.
</div>

