---
layout: default2018
---
{% include earlybird.html %}
{% include header18.html %}

<div class="main-heading container-fluid">
  <div class="u-futura heading-copy container">
    <h1 align="center">JuliaCon is coming to London!</h1>
    <div class="u-vskip"></div>
    <h3 align="center">
      <strong>7th to 11th August, 2018</strong> at University College London<br/>
      Roberts Engineering Building, Torrington Place, WC1E 7JE, London, UK
    </h3>
  </div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
  <div class="u-vskip-3"></div>
</div>

{% include main_nav.html %}

<div class="u-vskip-3"></div>

{% include content.html %}

<div class="u-vskip-3"></div>

{% include footer_container.html %}