---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>Julia Community Prize</h1>

  <div class="u-vskip"></div>

  <p>We wish to recognise the work of our amazing community, and will award three
  prizes for outstanding contributions to the Julia ecosystem.
  These prizes will come with a cash award of USD 1000 each and certificate.
  </p>

  <p>Please nominate your favourite Julia contributor (or yourself) for this award.
  Contributions can be in any area - code, packages, documentation, applications, or outreach.
  Contributions can also have been over any period.
  </p>

  <p>The awards will be announced and presented during JuliaCon 2018 in London.
  </p>

  <div class="u-vskip"></div>

  <h3>Nominations</h3>

  <p>Nominations (including self nominations) can be
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdC0sTQB3Pe2XwchF5K_Kn7Rm3VIeEJco2IhN5G5YKjzuXVZA/viewform">made via this form</a>.
    Anyone can be nominated, except the four Julia founders, and the members of the award committee.
    All nominations will be considered confidentially.
  </p>

  <p>Nominations will be accepted until the end of Friday, the 13th of July, anywhere on earth.</p>

  <div class="u-vskip"></div>

  <h3>Awards Committee</h3>

  <p>The nominations will be considered, and winner decided, by a comittee comprised of
    emiment members of the Julia community, with representations from both academia and industry.
    All decisions of the awards committee will be final.
  </p>
  <p>The members of the committee for 2018 are Prof Alan Edelman, MIT; Prof Tim Holy, WU; and Mr Curtis Voigt, Invenia.
  </p>
</div>

{% include footer_container.html %}
