---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>Julia Community Prize</h1>

  <div class="u-vskip"></div>

  <p>The Julia Community Prizes have been announced. A certificate of accomplishement and a cash prize of $1000.00 has been awarded to:</p>
  <h3>Tim Besard</h3>
  <p>For extending Julia natively to the GPU</p>
  <h3>Katherine Hyatt</h3>
  <p>For her enhancements of Julia's test suite and documentation
    </p>
  <h3>Chris Rackauckas</h3>
  <p>For his development of JuliaDiffEq and his community engagement
  </p>
  <h3>Elliott Saba</h3>
  <p>For his design and stewardship of Julia's binary infrastructure
</p>
  <p>
    Our congratulations to the winners, and our thanks to the committee.  </p>
  <div class="u-vskip"></div>

  <h3>Awards Committee</h3>
  <p>The members of the committee for 2018 are Prof Alan Edelman, MIT; Prof Tim Holy, WU; and Mr Curtis Vogt, Invenia.
  </p>
</div>

{% include footer_container.html %}
