---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>Julia Community Prize</h1>

  <div class="u-vskip"></div>

  <p>We wish to recognise the work of our amazing community, and will award three
  prizes for outstanding contributions to the Julia ecosystem.
  These prizes will come with a cash award of USD 1000 each and certificate.
  </p>

  <p>This is an award for excellent Julia contributors.
  Contributions can be in any area - code, packages, documentation, applications, or outreach.
  Contributions can also have been over any period.
  Anyone is eligible for this award: except for the four Julia founders, and the members of the award committee.
  </p>

  <p>
    Nominations closed on the 13th of July.
    The awards will be announced and presented during JuliaCon 2018 in London.
  </p>
  <div class="u-vskip"></div>

  <h3>Awards Committee</h3>

  <p>The nominations will be considered, and winner decided, by a comittee comprised of
    emiment members of the Julia community, with representations from both academia and industry.
    All decisions of the awards committee will be final.
    All nominations will be considered confidentially.
  </p>
  <p>The members of the committee for 2018 are Prof Alan Edelman, MIT; Prof Tim Holy, WU; and Mr Curtis Vogt, Invenia.
  </p>
</div>

{% include footer_container.html %}
