---
layout: default2018
---

{% include header18.html %}

{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h2>Main conference</h2>

  <div class="u-vskip-3"></div>

  <h3>Day 0 (7th of August 2018) <span class="badge badge-dark">Workshops</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:30</td>
        <td>Checking</td>
      </tr>
      <tr>
        <td>09:00 - 13:00</td>
        <td>Workshops</td>
      </tr>
      <tr>
        <td>14:00 - 18:00</td>
        <td>Workshops</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip-3"></div>

  <h3>Day 1 (8th of August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>08:30</td>
        <td>Opening remarks</td>
      </tr>
      <tr>
        <td>08:40 - 09:30</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:30 - 10:10</td>
        <td>Talk + Lightning Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:40 - 11:55</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:30 - 15:10</td>
        <td>2 Talks + 2 Lightning Talks</td>
      </tr>
      <tr>
        <td>15:40 - 18:00</td>
        <td>3 Talks</td>
      </tr>
      <tr>
        <td>18:15 - 22:00</td>
        <td>Conference Dinner</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip-3"></div>

  <h3>Day 2 (9th of August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>08:45 - 09:35</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:35 - 10:10</td>
        <td>Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:40 - 11:55</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:30 - 14:15</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>14:15 - 15:20</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>15:45 - 18:05</td>
        <td>3 Talks</td>
      </tr>
      <tr>
        <td>18:15 - 20:30</td>
        <td>Poster session</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip-3"></div>

  <h3>Day 3 (10th of August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>08:45 - 09:35</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:35 - 10:10</td>
        <td>Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:40 - 11:55</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:30 - 15:10</td>
        <td>2 Talks + 2 Lightning Talks</td>
      </tr>
      <tr>
        <td>15:40 - 18:00</td>
        <td>3 Talks</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip-3"></div>

  <h3>Day 4 (11th of August 2018) <span class="badge badge-dark">Hackathon</span></h3>

  <p>
    * Single track = no other talks scheduled
  </p>

  <div class="u-vskip-3"></div>

</div>

{% include footer_container.html %}