---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2018 Schedule</h1>

  <div class="u-vskip"></div>

  <h3>Day 0 (Tuesday, 7th August 2018) <span class="badge badge-dark">Workshops</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Registration and breakfast</td>
      </tr>
      <tr>
        <td>08:45 - 13:00</td>
        <td>Workshops</td>
      </tr>
      <tr>
        <td>14:00 - 18:30</td>
        <td>Workshops</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip"></div>

  <h3>Day 1 (Wednesday, 8th August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast and Registration</td>
      </tr>
      <tr>
        <td>08:30</td>
        <td>Opening remarks</td>
      </tr>
      <tr>
        <td>08:40 - 09:30</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:30 - 10:20</td>
        <td>Talk + Lightning Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:45 - 12:00</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:30 - 15:15</td>
        <td>2 Talks + 2 Lightning Talks</td>
      </tr>
      <tr>
        <td>15:45 - 17:15</td>
        <td>3 Talks</td>
      </tr>
      <tr>
        <td>18:15 - 23:00</td>
        <td>Conference Reception, sponsored by Invenia Labs</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip"></div>

  <h3>Day 2 (Thursday, 9th August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>08:45 - 09:35</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:35 - 10:15</td>
        <td>Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:45 - 11:55</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:15 - 14:00</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>14:00 - 15:30</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>15:45 - 18:00</td>
        <td>3 Talks</td>
      </tr>
      <tr>
        <td>18:00 - 20:00</td>
        <td>Poster session and BOF meetings</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip"></div>

  <h3>Day 3 (Friday, 10th August 2018) <span class="badge badge-dark">Conference</span></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 30%">Time</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>08:45 - 09:35</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>09:35 - 10:15</td>
        <td>Talk (Single track)</td>
      </tr>
      <tr>
        <td>10:45 - 12:00</td>
        <td>2 Talks</td>
      </tr>
      <tr>
        <td>13:15 - 14:00</td>
        <td>Keynote (Single track)</td>
      </tr>
      <tr>
        <td>14:10 - 15:20</td>
        <td>2 Talks + 2 Lightning Talks</td>
      </tr>
      <tr>
        <td>15:50 - 16:55</td>
        <td>3 Talks</td>
      </tr>
      <tr>
        <td>17:00 - 19:00</td>
        <td>Poster session II and BOF meetings</td>
      </tr>
    </tbody>
  </table>

  <div class="u-vskip"></div>

  <h3>Day 4 (Saturday, 11th August 2018) <span class="badge badge-dark">Hackathon</span></h3>

  <p>
    * Single track = no other talks scheduled
  </p>

  <div class="u-vskip-3"></div>

</div>

{% include footer_container.html %}
