---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2018: Buy Tickets</h1>
  <p>
    Tickets for JuliaCon have now sold out. There may be a few cancellations, in which case we will allocate tickets to those on the waitlist. 
  </p><p>
    Ticket sales will support the Julia Community through donations to NumFOCUS, a non-profit public charity promoting and supporting the ongoing research and development of open-source scientific data tools through educational, community and public channels.
  </p>
  <h3>Buy Tickets</h3>
  <p>
   <div style="width:100%; text-align:left;height:auto;">
     <iframe src="https://eventbrite.com/tickets-external?eid=42716228389&ref=etckt" frameborder="0" height="705" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="true"></iframe>
     <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" >
       <a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a>
     </div>
   </div>
  </p>

  <h3>Refund Policy</h3>
  <p>Refunds are available upto 30 days prior to the event. After that period, refunds will be considered within 24 hours of purchase, or on a discretionary basis if we are able to sell them on. Please contact us immediately if you change your mind.
  </p>
  <p>We will be also be happy to transfer the registration if the original purchaser is unable to attend. Please email us with your request.
  </p>

  <h3>Contact the Organizers</h3>
  <p>Please email <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> with any questions, comments or suggestions.
  </p>

  <h3>Ticket Prices</h3>
  <p>Early bird ticket sales have ended. Full ticket prices are as follows.</p>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr><td>Student, Talks</td><td>GBP 175</td></tr>
        <tr><td>Student, Talk + Workshops</td><td>GBP 250</td></tr>
        <tr><td>Talks</td><td>GBP 400</td></tr>
        <tr><td>Workshop</td><td>GBP 200</td></tr>
        <tr><td>Talk + Workshops</td><td>GBP 500</td></tr>
      </tbody>
    </table>
  </div>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}
