---
layout: default2018
---
{% assign img_folder = "./assets/img" %}
{% assign talks = site.data.2018_talks_workshops | where:'type', 'workshop' %}

{% include grey_nav.html %}
<div class="u-vskip-3"></div>

<div class="container">
  <div class="text-center">
    <div class="btn-group btn-group-centered" role="group" aria-label="Basic example">
        <a href="/2018/all_talks.html" class="btn btn-default" role="button">all</a>
        <a href="/2018/talks.html" class="btn btn-default" role="button">talks</a>
        <a href="/2018/lightning_talks.html" class="btn btn-default" role="button">lightning talks</a>
        <a href="/2018/workshops.html" class="btn btn-default active" role="button">workshops</a>
    </div>
  </div>
</div>


{% include talks_content.html %}
