---
layout: default2017
---
{% include header.html %}

<div class="banner-gradient">
  <div class="u-hbox u-items-center u-justify-center u-container u-text-center text-yellow u-center u-relative">
    <div class="u-cols-3">
        <img src="/2017/assets/img/waving-flag.gif" style="position: absolute; left: 0; bottom: 0; width: 300px; height:auto">
    </div>
    <div class="u-futura u-max-cols-6 u-vbox" style="margin:auto">
      <div class="u-vskip-2"></div>
      <div class="u-title-large text-shadow" style="line-height: 56px"><strong>JuliaCon is coming <br> to Berkeley!</strong></div>
      <div class="u-vskip"></div>
      <div class="u-highlight-medium text-shadow"><strong>20th - 24th June</strong> at the Pauley Ballroom, Berkeley, CA.</div>
      <div class="u-vskip"></div>
      <div class="u-hbox u-highlight-large u-center">
          <a href="http://www.eventbrite.com/e/juliacon-2017-tickets-31531297961?ref=ebtnebtckt" class="u-button text-maroon bg-yellow" target="_blank">Buy Tickets</a>
          <div class="u-hskip"></div>
          <a href="/2017/cfp" class="u-button text-yellow bg-maroon">Propose a Talk</a>
      </div>
      <div class="u-vskip"></div>
      <div class="u-highlight-small"><a href="/2017/cfp" class="link-color-inherit">Call for Proposals</a> closes on March 25th</div>
      <div class="u-highlight-small u-bold"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeIeTSamuqOEH2T_-S81aBZ9OrjSqKwkaIfFT0v3ttyhU5qlw/viewform?c=0&w=1" class="link-color-inherit">Some financial support for speakers is available!</a></div>
      <div class="u-vskip"></div>
    </div>
    <div class="u-vbox u-cols-3" style="margin-left:auto">
      <div class="u-vskip"></div>
      <div style="margin-left:auto"><img src="/2017/assets/img/berkeley.png" style="width: 180px; height: auto; margin-bottom: -10px"></div>
    </div>
  </div>
</div>

<div class="u-vskip-3"></div>
<div class="u-container u-center u-hbox">
  <div class="u-max-cols-6">
      <div class="u-vskip"></div>
      <h2>Call for Proposals</h2>
      <a href="/2017/cfp"><strong>Now open!</strong></a><br>
      All speakers welcome! <br> We have a diversity scholarship. See below.
      Call for Participation closes: March 25th, 11:59pm AOE (UTC-12) <br>
      Estimated notification: April 7th <br>
      <a href="/2017/cfp">juliacon.org/2017/cfp</a>
      <div class="u-vskip"></div>

      <h2>Diversity scholarships</h2>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIeTSamuqOEH2T_-S81aBZ9OrjSqKwkaIfFT0v3ttyhU5qlw/viewform?c=0&w=1"><strong>Apply now!</strong></a><br>
      Our goal is to create an inclusive, respectful conference environment that invites participation from people of all races, ethnicities, genders, ages, abilities, religions, and sexual orientations. This year we are offering ticket and travel reimbursements for underrepresented JuliaCon speakers and attendees!
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIeTSamuqOEH2T_-S81aBZ9OrjSqKwkaIfFT0v3ttyhU5qlw/viewform?c=0&w=1"><strong>Tell us</strong></a> if you need help!<br>
      <div class="u-vskip"></div>

      <h2>Committee</h2>

      {{ "
- Andreas Noack (executive chair)
- Alan Edelman
- Stefan Karpinski
- Viral B. Shah
- Jiahao Chen
- Tony Kelman (local chair)
- Valentin Churavy (program chair)
- Erica Moszkowski (diversity chair)
- Katharine Hyatt
- Pontus Stenetorp
- Shashi Gowda
- Jarrett Revels
" | markdownify }}
      <div>
      The JuliaCon committee is composed entirely of volunteer organizers
      and can be reached at <a href="mailto:juliacon@googlegroups.com">juliacon@googlegroups.com</a>
      with any questions or comments.
      </div>
  </div>
  <div class="u-max-cols-6">
      <div class="u-vskip"></div>
      <h2>Videos</h2>
      Below is a random talk from JuliaCon 2016. Click on the playlist icon
      on the top left of the video display to see a list of all talks.
      <div class="u-vskip"></div>
      {% include videos.html %}
      <div class="u-vskip"></div>
      <div>
      <h2>Code of Conduct</h2>

      JuliaCon is dedicated to providing a harassment-free conference
      experience for everyone, regardless of gender, gender identity and
      expression, sexual orientation, disability, physical appearance, body
      size, race, age, religion, text editor choice, or tabs vs spaces
      preference.  We do not tolerate harassment of conference participants
      in any form. Offensive or sexual language and imagery is not
      appropriate for any conference venue, including formal talks and
      networking between sessions. Conference participants violating these
      rules may be sanctioned or expelled from the conference (without a
      refund) at the discretion of the conference organizers. Our
      anti-harassment policy can be found <a href="/2017/coc">here.</a>
      </div>
  </div>
  <div class="u-cols-6">
  </div>
</div>
<div class="u-vskip-3"></div>

<div class="u-center u-container">
  <div class="u-hline border-gray"></div>
  <div class="u-vskip"></div>
  <div class="u-max-cols-8">
  {% include footer.html %}
  </div>
  <div class="u-vskip-2"></div>
</div>
