---
layout: default2017
---
{% include header.html %}

<div class="u-container u-center">

  <h1 class="u-cols-12">Accepted Talks &amp; Workshops</h1>
  <h2 class="u-cols-12">Table of Contents</h2>

  <div class="u-hbox">

    <!-- 1st column -->
    <div class="u-cols-6">
        <h2>Workshops</h2>

      Jump to description:
      <ul>
    {% for workshop in site.data.jc2017.workshops %}
    <li><a href="#workshop-{{forloop.index}}">{{workshop.title}}</a> <br> <span class="u-italic"> &ndash; {{workshop.speaker}}</span></li>
    {% endfor %}
      </ul>

        <h2>Talks</h2>

      Jump to description:
      <ul>
    {% for talk in site.data.jc2017.talks %}
    <li><a href="#talk-{{forloop.index}}">{{talk.title}}</a> <br> <span class="u-italic"> &ndash; {{talk.speaker}}</span></li>
    {% endfor %}
      </ul>

    </div>
    <!--  2nd column -->

    <div class="u-cols-6">
        <h2>Lightning Talks</h2>

      Jump to description:
      <ul>
    {% for talk in site.data.jc2017.lts %}
    <li><a href="#lightning-{{forloop.index}}">{{talk.title}}</a> <br> <span class="u-italic"> &ndash; {{talk.speaker}}</span></li>
    {% endfor %}
      </ul>
    </div>
  </div>

  <div class="u-hbox">
    <!-- 1st column -->
    <div class="u-cols-6">

        <h2>Workshops</h2>
{% for workshop in site.data.jc2017.workshops %}
    <h3 id="workshop-{{forloop.index}}">{{ workshop.title }}</h3>
    <div class="u-uppercase text-gray" style="font-size:0.90em">
        {{workshop.speaker}}, {{workshop.affiliation}}
    </div>

    {{workshop.abstract |markdownify}}

    <div>
        <em class="u-italic">About {{workshop.speaker}}</em>
        {{workshop.bio | markdownify }}
    </div>
{% endfor %}

        <h2>Talks</h2>
{% for talk in site.data.jc2017.talks %}
    <h3 id="talk-{{forloop.index}}">{{ talk.title }}</h3>
    <div class="u-uppercase text-gray" style="font-size:0.90em">
        {{talk.speaker}}, {{talk.affiliation}}
    </div>

    {{talk.abstract |markdownify}}

    <div>
        <em class="u-italic">About {{talk.speaker}}</em>
        {{talk.bio | markdownify }}
    </div>
{% endfor %}

    </div>


    <div class="u-cols-6">
        <h2>Lightning Talks</h2>
{% for talk in site.data.jc2017.lts %}
    <h3 id="lightning-{{forloop.index}}">{{ talk.title }}</h3>
    <div class="u-uppercase text-gray" style="font-size:0.90em">
        {{talk.speaker}}, {{talk.affiliation}}
    </div>

    {{talk.abstract |markdownify}}

    <div>
        <em class="u-italic">About {{talk.speaker}}</em>
        {{talk.bio | markdownify }}
    </div>
{% endfor %}

    </div>
  </div>

  <div class="u-hline border-gray"></div>
  <div class="u-vskip"></div>
  <div class="u-hpad">
  {% include footer.html %}
  </div>
  <div class="u-vskip-2"></div>
</div>
