---
layout: default2017
---
{% include header.html %}

<div class="u-container u-center">

  <h1 class="u-cols-12">Accepted Talks &amp; Workshops</h1>

  <p class="u-hpad">We are still reviewing talk proposals, meanwhile we have a list of accepted workshops for you:</p>

  <div class="u-hbox">
    <!-- 1st column -->

    <div class="u-cols-10">
        <h2>Workshops</h2>

      Jump to description:
      <ul>
    {% for workshop in site.data.jc2017.workshops %}
    <li><a href="#workshop-{{forloop.index}}">{{workshop.title}}</a> <br> <span class="u-italic"> &ndash; {{workshop.speaker}}</span></li>
    {% endfor %}
      </ul>

{% for workshop in site.data.jc2017.workshops %}
    <h3 id="workshop-{{forloop.index}}">{{ workshop.title }}</h3>
    <div class="u-uppercase text-gray" style="font-size:0.90em">
        {{workshop.speaker}}, {{workshop.affiliation}}
    </div>

    {{workshop.abstract |markdownify}}

    <div>
        <em class="u-italic">About {{workshop.speaker}}</em>
        {{workshop.bio | markdownify }}
    </div>
{% endfor %}

    <!--  2nd column -->
    <div class="u-cols-6">

    </div>

    </div>
  </div>

  <div class="u-hline border-gray"></div>
  <div class="u-vskip"></div>
  <div class="u-hpad">
  {% include footer.html %}
  </div>
  <div class="u-vskip-2"></div>
</div>
