---
layout: default2019
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2019 Organizing Committee</h1>
  
  <ul>
    <li>Pontus Stenetorp (executive chair)</li>
    <li>Avik Sengupta (finance chair)</li>
    <li>Adrian Salceanu (web chair)</li>
    <li>Kevin O'Brien (social media chair)</li>
    <li>Vijay Ivaturi (local chair)</li>
    <li>Huda Nassar (diversity co-chair)</li>
    <li>Jane Herriman (diversity co-chair)</li>
    <li>Valentin Churavy (proceedings chair)</li>
    <li>Mathieu Besançon (proceedings vice-chair)</li>
    <li>Chris Rackauckas (program chair)</li>
    <li>Lyndon White (program vice-chair)</li>
    <li>Nathan Daly</li>
    <li>Viral B. Shah</li>
    <li>Stefan Karpinski</li>
    <li>Cheryl Fong</li>
    <li>Kelly Shen</li>
  </ul>
  <hr style="background-color: #fff;" />
  <p>
    The JuliaCon committee is composed entirely of volunteer organizers
    and can be reached at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a>
    with any questions or comments.
  </p>

</div>

<div class="u-vskip-3"></div>

{% include_relative footer_container19.html %}
