<div class="container">
  <div class="row masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box purple-box">
        <h2>JuliaCon</h2>
        <p>
          JuliaCon is the biggest Julia conference of the year, bringing together speakers, developers, and enthusiasts from all over the world, for 5 days packed with keynotes, talks and workshops!
        </p>
        <iframe width="100%%" height="315" src="https://www.youtube.com/embed/baR02tlea5Y?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box red-box">
        <h2>Venue</h2>
        <p>
          The main conference talks will be held at the at the University of Maryland, SMC Campus Center, 621 W Lombard St, Baltimore, MD 21201, USA. Here's a map:
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12352.235663010597!2d-76.6243805!3d39.2869144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6adedf5fd2c3d317!2sSMC+Campus+Center!5e0!3m2!1sen!2sro!4v1546879015690" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>
          The workshops will be held at the UMB School of Pharmacy nearby.
        </p>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box dark-green-box">
        <h2>Code of Conduct</h2>
        <p>
        JuliaCon is dedicated to providing a positive conference experience
        for all attendees, regardless of gender, gender identity and expression,
        sexual orientation, disability, physical appearance, body size, race,
        age, religion, or national and ethnic origin. We encourage respectful
        and considerate interactions between attendees and do not tolerate
        harassment of conference participants in any form. For example, offensive
        or sexual language and imagery is not appropriate for any conference
        venue, including formal talks and networking between sessions. Conference
        participants violating these standards may be sanctioned or expelled from
        the conference (without a refund) at the discretion of the conference organizers.
        Our anti-harassment policy can be found <a href="/2019/coc">here.</a>
        </p>
      </div>
    </div>

    {% comment %}
    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box green-box">
        <h2>Live Streaming</h2>
        <p>
          All talks and workshops for JuliaCon 2019 are <a href="http://bit.ly/JuliaCon2018LIVE">streaming live</a> on Youtube.
          Recordings of the talks can be seen on the <a href="https://www.youtube.com/playlist?list=PLP8iPy9hna6Qsq5_-zrg0NTwqDSDYtfQB">JuliaCon 2018 playlist</a>.
        </p>
      </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="purple-box content-box">
        <h2>Keynote speakers</h2>
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
        name="Nick Higham"
        url=""
        avatar="/2018/assets/img/nickhigham.jpeg"
        affiliation="University of Manchester"
        abstract="Nick Higham is Royal Society Research Professor and Richardson Professor of Applied Mathematics at the
        University of Manchester.  His research is in numerical linear algebra
        and ranges from theory to the development of algorithms and software, with a
        focus on accuracy and stability.  His book *Functions of Matrices:
        Theory and Computation* (SIAM, 2008) was the first research monograph
        on matrix functions and he is editor of the *Princeton Companion to
        Applied Mathematics* (2015).  He is a Fellow of the Royal Society, a
        SIAM Fellow, and a Member of Academia Europaea.  He is a keen expositor and
        blogs at [http://nickhigham.wordpress.com](http://nickhigham.wordpress.com)." %}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
        name="Sophie Wilson"
        url=""
        avatar="/2018/assets/img/sophiewilson.jpeg"
        affiliation="Broadcom Inc."
        abstract="Sophie Wilson is a Broadcom Fellow and Distinguished Engineer.
        Her inventions helped to transform the computing landscape.
        Sophie and Steve Furber’s development and codesign of the BBC Micro
        processor led to their development of the ARM processor;
        today the ARM processor powers virtually every mobile phone and tablet in the world.
        By 1999, Sophie developed the Firepath SIMD LIW processor,
        for which she led the design of the instruction set, and she co-founded Element 14,
        which was later acquired by Broadcom. Sophie is a Fellow of the Royal Society,
        a Fellow of the Royal Academy of Engineering, a Fellow of the British Computer Society,
        a Fellow of the Women’s Engineering Society and an honorary Fellow of Selwyn College, Cambridge.
        She has an honorary doctorate of science from Cambridge University." %}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
        name="Tim Thornham"
        url=""
        avatar="/2018/assets/img/timthornham.jpeg"
        affiliation="Aviva plc."
        abstract="Tim Thornham is the Financial Modelling Solutions Director at Aviva.
        He is responsible for the development and maintenance of actuarial and
        quantitative risk models used across the firm for financial and prudential reporting.
        Aviva is the second largest UK insurer and one of Europe’s leading
        providers of life and general insurance.

Tim is a qualified actuary and has worked in various roles in consultancies,
insurance companies and in an actuarial software company. Over his career, he
has specialised in actuarial modelling systems implementation, working with many
insurance companies around the world, over nearly 30 years in the industry." %}</p>

      <hr style="background-color: #fff;" />
      <div class="u-vskip-2"></div>

      <p>{% include keynote-speaker.html
      name="Gilbert Strang"
      url=""
      avatar="/2018/assets/img/gilstrang.jpeg"
      affiliation="MIT"
      abstract="Gilbert Strang was an undergraduate at MIT and a Rhodes Scholar
      at Balliol College, Oxford. His Ph.D. was from UCLA and since then he has taught at MIT.
      He has been a Sloan Fellow and a Fairchild Scholar and is a Fellow of the
      American Academy of Arts and Sciences. He is a Professor of Mathematics at MIT,
      an Honorary Fellow of Balliol College, and a member of the National
      Academy of Sciences. Professor Strang has published eleven books.

He was the President of SIAM during 1999 and 2000, and Chair of the Joint Policy
Board for Mathematics. He received the von Neumann Medal of the US Association
for Computational Mechanics, and the Henrici Prize for applied analysis.
The first Su Buchin Prize from the International Congress of Industrial and
Applied Mathematics, and the Haimo Prize from the Mathematical Association of
America, were awarded for his contributions to teaching around the world." %}</p>

<hr style="background-color: #fff;" />
<div class="u-vskip-2"></div>

<p>{% include keynote-speaker.html
name="Mike Croucher"
url=""
avatar="/2018/assets/img/mike.png"
affiliation="University of Leeds"
abstract="Mike is Director of Research Computing at The University of Leeds and
an EPSRC Research Software Engineering Fellow.  Previous roles include being
the co-founder of the RSE group at the University of Sheffield and Head of
Research Software Support in the faculty of Engineering and Physical Sciences
at The University of Manchester.

Mike's entire career has been focused on one thing:
To enable researchers and educators to do computing better.

He is additionally a Principal Investigator on the EU funded OpenDreamKit
project which supports the open source mathematical software ecosystem,
Co-Investigator on the UK national RSE network and has had his name on a
bunch of other grants where he supported software stuff.
He blogs on www.walkingrandomly.com and tweets at @walkingrandomly" %}</p>

      </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box light-blue-box">
        <h2>Julia Community Prize</h2>
        <p>
          The Julia Community Prize has been <a href="prize.html">announced</a>. Congratulations
          to this years winners: Tim Besard, Katharine Hyatt, Chris Rackauckas and Elliot Saba.
      </div>
    </div>
    {% endcomment %}

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box dark-blue-box">
        <h2>Accommodation Guide</h2>
        <p>
          Our preferred conference hotel is the Baltimore Marriott Inner Harbor at Camden Yards,
          which is conveniently located two blocks away from the venue. We have attractive group rates negotiated,
          which you can book using this link: <a href="https://book.passkey.com/e/49861330">
            https://book.passkey.com/e/49861330 </a>
        </p>
        <p>
          Rooms are also available at the Days Inn Inner Harbor, which is just a few blocks away.
          Please <a href="https://www.wyndhamhotels.com/en-ca/days-inn/baltimore-maryland/days-inn-baltimore-inner-harbor-hotel/rooms-rates?checkin_date=7/21/2019&checkout_date=7/25/2019&group_code=CG21JU">
            click here</a> to book.
        </p>
        <p> We strongly advise you to book your accomodation in our reccomended hotels - they are conveniently located,
          reasonably priced, and best for interacting with your fellow attendees.
        </p>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box light-blue-box">
        <h2>Committee</h2>
        <p>
          JuliaCon is <a href="committee.html">organized by a committee</a> composed entirely of volunteers,
          and can be reached at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a>
          with any questions or comments.
        </p>

      </div>
    </div>

  </div>
</div>
