<div class="container">
  <div class="row masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box purple-box">
        <h2>JuliaCon</h2>
        <p>
          JuliaCon is the biggest Julia conference of the year, bringing together speakers, developers, and enthusiasts from all over the world, for 5 days packed with keynotes, talks and workshops!
        </p>
        <iframe width="100%%" height="315" src="https://www.youtube.com/embed/baR02tlea5Y?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box green-box">
        <h2>Keynote Speakers</h2>
        <div class="u-vskip-2"></div>
        <p>{% include keynote-speaker.html
        name="Madeleine Udell"
        url="https://people.orie.cornell.edu/mru8/"
        avatar="/2019/assets/img/madeleineudell.jpg"
        affiliation="Cornell University"
        abstract="Madeleine Udell is Assistant Professor of Operations Research and Information Engineering
        and Richard and Sybil Smith Sesquicentennial Fellow at Cornell University.
        She studies optimization and machine learning for large scale data analysis and control,
        with applications in marketing, demographic modeling, medical informatics,
        engineering system design, and automated machine learning.
        Her research in optimization centers on detecting and exploiting novel structures
        in optimization problems, with a particular focus on convex and low rank problems.
        These structures lead the way to automatic proofs of optimality, better complexity guarantees, and faster,
        more memory-efficient algorithms. She has developed a number of open source libraries for
        modeling and solving optimization problems, including [Convex.jl](https://github.com/JuliaOpt/Convex.jl),
        one of the top tools in the Julia language for technical computing." %}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
          name="Steven G. Johnson"
          url="http://math.mit.edu/~stevenj/"
          avatar="/2019/assets/img/stevenjohnson.jpg"
          affiliation="MIT"
          abstract="Steven G. Johnson is a Professor of Applied Mathematics and Physics at MIT,
          where he joined the faculty in 2004 and previously received a PhD in physics (2001)
          and BS degrees in physics, mathematics, and computer science (1995).
          He has a long history of contributions to scientific computation and software,
          including the [FFTW](http://www.fftw.org) fast Fourier transform library (for which he co-received
          the 1999 J. H. Wilkinson Prize) and many other software packages.
          He has been using, contributing to, and teaching with Julia since 2012.
          He created and maintains blockbuster Julia packages that you may have heard of:
          [PyCall](https://github.com/JuliaPy/PyCall.jl) and [IJulia](https://github.com/JuliaLang/IJulia.jl)
          (and Julia’s [FFTW bindings](https://github.com/JuliaMath/FFTW.jl), of course).

Professor Johnson's professional research concerns wave-matter interactions
and electromagnetism in media structured on the wavelength scale (“nanophotonics”),
especially in the infrared and optical regimes. He works on many aspects of the theory,
design, and computational modeling of nanophotonic devices, both classical and quantum.
He is also a coauthor on over 200 papers and over 30 patents in this area,
including the textbook *Photonic Crystals: Molding the Flow of Light*." %}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
          name="Steven Lee"
          url="http://ams.labworks.org/challenges_workshop/index/speakers#coll2"
          avatar="/2019/assets/img/stevenlee.jpg"
          affiliation="DOE Advanced Scientific Computing Research"
          abstract="Steven Lee is an Applied Mathematics Program Manager for Advanced Scientific Computing
          Research (ASCR) within the Department of Energy (DOE), Office of Science. Most recently, Steven and an organizing
          committee issued a [brochure](https://www.osti.gov/biblio/1484362) and [workshop report](https://www.osti.gov/biblio/1478744)
          on Scientific Machine Learning: Core Technologies for Artificial Intelligence.
          He has also been an ASCR Program Manager within the Scientific Discovery through Advanced Computing program
          ([SciDAC-3](https://www.scidac.gov/) Institutes)
          for the projects: [FASTMATH](https://science.energy.gov/~/media/ascr/pdf/research/scidac/FASTMath-overview.pdf)
          - Frameworks, Algorithms and Scalable Technologies for Mathematics; and
          [QUEST](https://science.energy.gov/~/media/ascr/pdf/research/scidac/QUEST-overview.pdf)
          - Quantification of Uncertainty for Extreme-Scale Computations. Before joining the DOE, Steven was a
          computational scientist at Lawrence Livermore National Laboratory and Oak Ridge National Laboratory.
          He has also been a visiting Assistant Professor in the Department of Mathematics at MIT. He has a Ph.D.
          in Computer Science (UIUC) and B.S. in Applied Mathematics (Yale)."%}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
          name="CJ Musante"
          url="https://www.linkedin.com/in/cynthia-j-cj-musante-684a823/"
          avatar="/2019/assets/img/cjmusante.jpg"
          affiliation="Pfizer"
          abstract="Dr. Cynthia J. (C.J.) Musante is Senior Scientific Director and Head of Quantitative
          Systems Pharmacology (QSP) in Early Clinical Development at Pfizer in Cambridge, MA. She
          received her Ph.D. in Applied Mathematics from North Carolina State University and has
          over eighteen years of experience in QSP modeling. At Pfizer, her group is responsible
          for developing and applying mechanistic models and disease platforms to enhance the
          robustness and quality of decision-making at the program and therapeutic strategy-level.
          Dr. Musante is an advocate for model-informed drug discovery and development approaches.
          She currently serves as Treasurer and on the Board of Directors of the [International Society
          of Pharmacometrics](https://insp.memberclicks.net/) (ISoP), as Co-Chair of the [Innovation and
          Quality (IQ) Consortium](https://iqconsortium.org/about/) Clinical Pharmacology QSP Working
          Group, on the Scientific Programming Committee for the [American Society of Clinical
          Pharmacology and Therapeutics](https://www.ascpt.org/Member-Services/About-ASCPT), and
          formerly served as the inaugural Chair of ISoP’s QSP Special Interest Group."%}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
          name="Arch Robison"
          url="http://www.blonzonics.us/home"
          avatar="/2019/assets/img/archrobison.jpg"
          affiliation="NVIDIA"
          abstract="Arch D. Robison is a Principal Systems Software Engineer at NVIDIA, where he works
          on [TensorRT](https://developer.nvidia.com/tensorrt), NVIDIA's platform for high-performance
          deep-learning inference. He was the lead developer for KAI C++, the original architect of Intel
          Threading Building Blocks, and one of the authors of the book *Structured Parallel Programming:
          Patterns for Efficient Computation*. Arch contributed type-based alias analysis and vectorization
          support to Julia, including the original implementation of [SIMD in Julia 0.3](https://software.intel.com/en-us/articles/vectorization-in-julia). He's used Julia to generate [x86 assembly language](https://software.intel.com/en-us/articles/vectorization-in-julia) for a Go
          implementation of his video game *Frequon Invaders*. He also took 2nd place in AI Zimmermann's contest
          &quot;Delacorte Numbers&quot; [using Julia exclusively](https://software.intel.com/en-us/articles/computing-delacorte-numbers-with-julia). He has 21 patents and an Erd&ouml;s number of 3."%}</p>

        <hr style="background-color: #fff;" />
        <div class="u-vskip-2"></div>

        <p>{% include keynote-speaker.html
          name="Heather Miller"
          url="https://isr.scs.cmu.edu/people/core-faculty/miller-heather.html"
          avatar="/2019/assets/img/heathermiller.jpg"
          affiliation="Carnegie Mellon"
          abstract="Heather Miller is an Assistant Professor in the School of Computer Science at Carnegie Mellon,
          where she is affiliated with the Institute for Software Research. Prior to joining the faculty at CMU,
          Professor Miller not only worked as a research scientist at [EPFL](https://www.epfl.ch/research/), but
          also co-founded and served as the Executive Director for the [Scala Center](https://scala.epfl.ch/), a
          nonprofit focused on software development, education, and research surrounding the open source Scala
          programming language. She continues to work on and around Scala, while pursuing research on various
          flavors of distributed and concurrent computation. Some of her projects underway include programming
          models and type systems to facilitate the design of new, functional distributed systems."%}</p>

      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box green-box">
        <h2>Live Streaming</h2>
        <p>
          All talks and workshops for JuliaCon 2019 were <a href="https://www.youtube.com/user/JuliaLanguage/videos?view=2&flow=grid&live_view=502">streamed live</a> on Youtube.
          Recordings of the talks can now be seen on the <a href="https://www.youtube.com/playlist?list=PLP8iPy9hna6StY9tIJIUN3F_co9A0zh0H">Youtube channel</a>.
        </p>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box light-blue-box">
        <h2>Julia Community Prize</h2>
        <p>
          The Julia Community Prize has been <a href="prize.html">announced</a>. Congratulations
          to this years winners: Jane Herriman, Jacob Quinn and Mike Innes.
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box red-box">
        <h2>Venue</h2>
        <p>
          The <b>main conference talks</b> will be held at the University of Maryland, Baltimore SMC Campus Center, 621 W Lombard St, Baltimore, MD 21201, USA:
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12352.235663010597!2d-76.6243805!3d39.2869144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6adedf5fd2c3d317!2sSMC+Campus+Center!5e0!3m2!1sen!2sro!4v1546879015690" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br/><br/>
        <p>
          The <b>workshops</b> will be held at the University of Maryland School of Pharmacy, 20 N Pine St, Baltimore, MD 21201, USA:
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21754.790282966434!2d-76.61996285492329!3d39.29303036872114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f4ee2578e55da10!2sUniversity+of+Maryland+School+of+Pharmacy!5e0!3m2!1sen!2sus!4v1555350497508!5m2!1sen!2sus" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
       </p>
        To know more about the local area, including restaurants and places of interest, click here: <a href="http://bit.ly/knowbaltimore">http://bit.ly/knowbaltimore</a>
      <p>
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box dark-green-box">
        <h2>Code of Conduct</h2>
        <p>
        JuliaCon is dedicated to providing a positive conference experience
        for all attendees, regardless of gender, gender identity and expression,
        sexual orientation, disability, physical appearance, body size, race,
        age, religion, or national and ethnic origin. We encourage respectful
        and considerate interactions between attendees and do not tolerate
        harassment of conference participants in any form. For example, offensive
        or sexual language and imagery is not appropriate for any conference
        venue, including formal talks and networking between sessions. Conference
        participants violating these standards may be sanctioned or expelled from
        the conference (without a refund) at the discretion of the conference organizers.
        Our anti-harassment policy and information about who to contact if you have
        an issue you'd like to discuss can be found <a href="/2019/coc">here.</a>
        </p>
      </div>
    </div>



    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box dark-blue-box">
        <h2>Accommodation Guide</h2>
        <p>
          Our preferred conference hotel was the Marriott Inner Harbor at Camden Yard. We had attractive group rates negotiated at the
          which you could book using this link: <a href="https://book.passkey.com/e/49861330">
            https://book.passkey.com/e/49861330 </a>. However, this block of rooms is now full, but you can contact the hotel for regular priced reservations.
        </p>

        <p> Rooms are now available at the Hampton Inn Baltimore-Downtown-Convention Center, which is also very close to our venue.
          <a href="https://hamptoninn.hilton.com/en/hp/groups/personalized/B/BALCYHX-JUL-20190721/index.jhtml?WT.mc_id=POG">Book Here.</a>
        </p>
        <p>
          A few rooms are also available at the Days Inn Inner Harbor, which is just a few blocks away.
          Please <a href="https://www.wyndhamhotels.com/en-ca/days-inn/baltimore-maryland/days-inn-baltimore-inner-harbor-hotel/rooms-rates?checkin_date=7/21/2019&checkout_date=7/25/2019&group_code=CG21JU">
            click here</a> to book.
        </p>

        <p> We strongly advise you to book your accommodation in our recommended hotels - they are conveniently located,
          reasonably priced, and best for interacting with your fellow attendees.
      </div>
    </div>

    <div class="grid-item col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2">
      <div class="content-box light-blue-box">
        <h2>Committee</h2>
        <p>
          JuliaCon is <a href="committee.html">organized by a committee</a> composed entirely of volunteers,
          and can be reached at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a>
          with any questions or comments.
        </p>

      </div>
    </div>

  </div>
</div>
