---
layout: default2019
permalink: /2019/financial-assistance
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Financial Assistance</h1>
  <p>
    JuliaCon 2019 aims to be an inclusive event. In an effort to reduce the degree to which cost may deter community members from attending this event, we offer financial assistance to GSoC students, accepted speakers, and attendees who heighten the diversity of the Julia community. We welcome participation from people of all races, ethnicities, genders, ages, abilities, religions, sexual orientations, personal/professional backgrounds, and schools of thought.
  </p><p>
    If financial assistance will impact your ability to attend JuliaCon 2019, please fill out this <a href="https://goo.gl/forms/0TbdyBFudkzNtcmM2">application</a>.
  </p>

  <h2>Timeline</h2>
  <p>
    <ul>
      <li> March 22, 2019 23:59 AoE (Anywhere on Earth) &#9964; Deadline for submission.
      <li> April 25, 2019 &#9964; Notification for financial assistance awarded.
      <li> May 9, 2019 &#9964; Deadline to accept/decline financial assistance.
    </ul>
  </p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container19.html %}
