---
layout: default2019
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>Julia Community Prize</h1>

  <div class="u-vskip"></div>

  <p>The Julia Community Prizes have been announced. A certificate of accomplishement and a cash prize of $1000.00 has been awarded to:</p>
  <h3>Jane Herriman</h3>
  <p>For her teaching, outreach, and community stewardship</p>
  <h3>Jacob Quinn</h3>
  <p>For contributions to the data ecosystem and core language
    </p>
  <h3>Mike Innes</h3>
  <p>For spearheading the machine learning ecosystem with Flux
  </p>

  <h2>Best Poster</h2>
  <p>Prizes were also awarded for best poster: </p>
  <ul>
    <li>“Designing a t-Shirt for JuliaCon” by Cormullion and David Sanders</li>
    <li>“Tackling Stochastic Delay Problems in Julia” by Henrik Sykora</li>
  </ul>
  <p>
    Our congratulations to the winners, and our thanks to the committee.  </p>
  <div class="u-vskip"></div>

  <h2>Awards Committee</h2>
  <p>The members of the committee for 2019 continue to be Prof Alan Edelman, MIT; Prof Tim Holy, WU; and Mr Curtis Vogt, Invenia.
  </p>
</div>

{% include footer_container.html %}
