---
layout: default2019
---

{% include_relative header19.html %}

{% include_relative submit_proposal.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2019 Schedule</h1>

  <div class="u-vskip"></div>

  <h3>Sunday 21st July 2019 <span class="badge badge-dark">Pre conference meetings</span></h3>

  <div class="u-vskip"></div>

  <h3>Monday 22nd July 2019 <span class="badge badge-dark">Hands on Training & Workshops</span></h3>

  <div class="u-vskip"></div>

  <h3>Tuesday 23rd July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Wednesday 24th July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Thursday 25th July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Friday 26th of July 2019 <span class="badge badge-dark">Hackathon</span></h3>

</div>

{% include_relative footer_container19.html %}
