---
layout: default2019
permalink: /2019/schedule/
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2019 Schedule</h1>

  <div class="u-vskip"></div>

  <h3>Monday 22nd July 2019 <span class="badge badge-dark">Hands on Training & Workshops</span></h3>

  <table class="tg">
  <tr>
    <th class="tg-0pky">Morning</th>
    <th class="tg-0pky">Afternoon</th>
  </tr>
  <tr>
    <td class="tg-0pky">Solving Differential Equations in Julia (Chris Rackauckas)</td>
    <td class="tg-0pky">Nonlinear Mixed Effects Modeling with PuMaS (Chris Rackauckas)</td>
  </tr>
  <tr>
    <td class="tg-0pky">Excelling at Julia: basics and beyond (Huda Nassar, Jane Herriman)</td>
    <td class="tg-0pky">Writing a Package: a thorough guide (Kristoffer Carlsson, Fredrik Ekre)</td>
  </tr>
  <tr>
    <td class="tg-0pky">Machine Learning with Julia (Matt Bauman)</td>
    <td class="tg-0pky">Handling Data with DataFrames.jl&nbsp;&nbsp;(Bogumił Kamiński)</td>
  </tr>
  <tr>
    <td class="tg-0pky">Intermediate Julia for Scientific Computing (David Sanders)</td>
    <td class="tg-0pky">Parallel Computing with Julia (Matt Bauman, Avik Sengupta)</td>
  </tr>
</table>

  <h3>Tuesday 23rd July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Wednesday 24th July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Thursday 25th July 2019 <span class="badge badge-dark">Conference Talks</span></h3>

  <div class="u-vskip"></div>

  <h3>Friday 26th of July 2019 <span class="badge badge-dark">Hackathon</span></h3>

</div>

{% include_relative footer_container19.html %}
