---
layout: default2019
permalink: /2019/sponsor/
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Sponsorships</h1>
  <p>
    JuliaCon is a community organized non-profit conference, and it would not be possible without the support of its amazing set of sponsors. We invite your organization to be a sponsor of JuliaCon 2019.
  </p><p>
JuliaCon is the largest annual conference organized around Julia, the fastest high-performance open source computing language for machine learning, artificial intelligence, life sciences, robotics, algorithmic trading, real-time analytics and more.
  </p><p>
JuliaCon 2019 will be held at University of Maryland Baltimore July 21-26. It promises to be the biggest and best JuliaCon yet, with more than 350 participants.
  </p><p>
JuliaCon 2019 sponsorship comes with the following benefits:
   </p>

  <h3>Platinum Sponsorship ($30,000) </h3>
  <p>
    <ul>
      <li> Prominent mention of your organization and logo placement in JuliaCon registration packets, brochures, materials and website
      <li> Prominent mention of sponsorship before, after or during opening, closing and keynote addresses
      <li> A brief 5 minute opportunity to address the participants including priority placement immediately after a keynote address
      <li> Table/presentation space during the conference including priority placement
      <li> 5 free tickets
    </ul>
  </p>

  <h3>Gold Sponsorship ($15,000)</h3>
  <p>
    <ul>
      <li> Prominent mention of your organization and logo placement in JuliaCon registration packets, brochures, materials and website
      <li> Prominent mention of sponsorship before, after or during opening, closing and keynote addresses
      <li> A brief 5 minute opportunity to address the participants
      <li> Table/presentation space during the conference
      <li> 3 free tickets
    </ul>
  </p>

  <h3>Silver Sponsorship ($5,000)</h3>
  <p>
    <ul>
      <li> Prominent mention of your organization and logo placement in JuliaCon registration packets, brochures, materials and website
      <li> Prominent mention of sponsorship before, after or during opening, closing and keynote addresses
      <li> 1 free ticket
    </ul>
  </p>

  <h3>Named Sponsorship for Conference Reception/Dinner ($20,000)</h3>
  <p>
    <ul>
      <li> Exclusive "Sponsored by" tagline for conference reception
      <li> Exclusive signage during the reception
      <li> Opportunity to address participants for 10 minutes during the reception
    </ul>
  </p>

  <h3>University Partnerships in Diversity</h3>
  <p>
    Our university partners in diversity will financially support JuliaCon 2019 attendance for at least two students from backgrounds that are underrepresented in computing.
    Female-identifying students, students with disabilities, students identifying as LGBTQ, students of Hispanic/Latino, African American, Native American, Native Hawaiian/Pacific Islander, biracial descent and possibly others qualify &mdash; just ask us!
  </p><p>
    Your university will receive:
    <ul>
      <li> Prominent mention of sponsorship and logo placement in JuliaCon registration packets, brochures, materials and website
      <li> Prominent mention of sponsorship before, after or during opening, closing and keynote addresses
      <li> A waived ticket price for one of the sponsored students
    </ul>
  </p>

  <div class="u-vskip-3"></div>
  <p>
  Please talk to us at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> if you, or anyone you know, might be interested in sponsoring JuliaCon.
  </p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container19.html %}
