---
layout: default2019
permalink: /2019/tickets/
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2019: Early bird tickets on sale until 5th May 2019</h1>
  <p>
    Ticket sales will support the Julia Community through donations to NumFOCUS, a non-profit public charity promoting and supporting the ongoing research and development of open-source scientific data tools through educational, community and public channels.
  </p>
  <p>A 50% discount is provided for all students.</p>
  <h3>Buy Tickets</h3>
  <p>
   <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=54365839690&ref=etckt" frameborder="0" height="478" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
  </p>

  <h3>Group Tickets</h3>
  <p>Payment via invoices and wire transfers are available for groups of five or more. Please contact us for details.
  </p>

  <h3>Refund Policy</h3>
  <p>Refunds are available upto 30 days prior to the event. After that period, refunds will be considered within 24 hours of purchase, or on a discretionary basis if we are able to sell them on. Please contact us immediately if you change your mind.
  </p>
  <p>We will be also be happy to transfer the registration if the original purchaser is unable to attend. Please email us with your request.
  </p>

  <h3>Contact the Organizers</h3>
  <p>Please email <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> with any questions, comments or suggestions.
  </p>

  <h3>Full Price Tickets</h3>
  <p>Early bird tickets are currently on sale, and will be available until Sunday, the 5th of May 2019. After that date, tickets for JuliaCon 2019 will be priced as follows</p>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr><td>Talks</td><td>USD 500</td></tr>
        <tr><td>Workshop</td><td>USD 350</td></tr>
        <tr><td>Talks + Workshop</td><td>USD 700</td></tr>
        <tr><td>&nbsp;</td><td>50% discount for students</td></tr>
      </tbody>
    </table>
  </div>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}
