---
layout: default2019
permalink: /2019/volunteer/
---

{% include_relative header19.html %}

{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Sign Up!</h1>
  <p>
    <a class="text-green" href="https://forms.gle/oNXUtBmB6wrtEqPU8">As a mentor</a>
  </p>  
  
  <p>
    <a class="text-green" href="https://forms.gle/yANMe4c9YmuW9MWcA">As a proceedings reviewer</a>
  </p>
  
  <p>
    <a class="text-green" href="https://goo.gl/forms/zs1hxoTGQ70O9ZF32">As an on-site volunteer</a>
  </p>

<h1>Roles</h1>
    <h3>Mentors to new speakers</h3>
    <p>
        JuliaCon 2019 will match first-time JuliaCon speakers desiring guidance to 
        experienced speakers willing to mentor. We are expecting a time commitment 
        of maximally a few hours in which mentors will provide feedback on a novice 
        speaker's presentation.

Please let us know if you would like to be mentored or if you are willing to mentor a first-time speaker for JuliaCon 2019!
    </p>
  
    <h3>Proceedings reviewers</h3>
    <p>
        JuliaCon will be offering proceedings for the first time this year, and we need 
        reviewers to assess submissions. Our review process will be similar to that of 
        the Journal of Open Source Software (JOSS). More details can be found <a class="text-green" href="https://proceedings.juliacon.org/guide/reviewers/">here</a>.
    </p>
  <h3>Talk submission reviewers</h3>
    <p>
        Once the Call for Proposals closes, we expect to have order of 200 proposals to 
        review, each of which will require at least three pairs of eyes. Help us create a 
        fair and expedient review process by agreeing to read and score a set of talk 
        proposals, and then discuss your evaluation with other volunteers.
    </p>
    <h3>Financial assistance application reviewers</h3>
    <p>
        We are currently looking for volunteers to review financial assistance applications,
        publicized on our <a href="https://juliacon.org/2019/financial-assistance/">financial 
        assistance</a> page. These applications are shorter in length, so we expect reviewers to 
        review all applications (about 60) and rate them according to a rubric we will provide. 
        If the need arises, we may need to have conference calls to discuss certain cases 
        individually.
    </p>
    <h3>Local /On-site volunteers</h3>
    <p>
        Our on-site volunteers help keep the conference running smoothly by helping with items 
        like registration and set-up at the venue. Help us put on a great event for our community!
    </p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container19.html %}
