
<div class="u-rows-1 u-hbox u-items-center u-justify-space-between u-container u-center">
  <div class="u-title-medium u-hpad u-hbox u-items-center u-cols-4" style="margin:auto">
    <a href="/2018/">
        <img src="/2018/assets/img/logo.svg" style="width: 200px; height: auto" title="JuliaCon">
    </a>
    <div class="u-hskip-half"></div>
    <a href="/2018/" class="link-color-inherit">
        <div class="u-title-large u-futura" style="font-size:42px; margin-top: 8px; color: #888">2018</div>
    </a>
  </div>
  <div class="u-cols-4"></div>
  <div class="u-cols-4 u-futura u-uppercase" style="margin:auto">Previous editions: <a href="/2017/">2017</a> | <a href="/2016/">2016</a> | <a href="/2015/">2015</a> | <a href="/2014/">2014</a></div>
</div>
