
<div class="u-rows-1 u-hbox u-items-center u-container u-center">
  <div class="u-title-medium u-hpad">
    <a href="/2017/" class="link-color-inherit"><img src="/2017/assets/img/juliacon-logo.png" style="width: 200px; height: auto" title="JuliaCon"></div><div class="u-title-large u-futura" style="font-size:40px; color: #888">2017</div></a>
  <div class="u-flex-grow"></div>
  <div class="u-futura u-uppercase">Previous editions: <a href="/2016/">2016</a> | <a href="/2015/">2015</a> | <a href="/2014/">2014</a></div>
</div>

