<div class="header-talks">
  <div class="avatar-talks">
    {% if include.avatar %}
    <img class="avatar-circle-talks" src="{{ include.avatar }}">
    {% else %}
    <img class="avatar-circle-talks" src="/2018/assets/img/juliatocat.png">
    {% endif %}
    <div class="speaker-talks">
      {{include.name}}
      <p class="affiliation">
      {% if include.affiliation != "None" %}
      {{ include.affiliation }}
      {% endif %}
      </p>
    </div>
  </div>
</div>
<div class="content-box-talk">
  <p>{{include.abstract | markdownify | truncate: 1000 }}</p>
</div>
