<div class="container-fluid">
  <div class="container sponsors">
    <dl style="margin-right: 20px;">
        <dt style="width: 100px">Platinum Sponsors</dt>
        <dd style="width: 70px"><img src="/2018/assets/img/sponsors/sloan.png" alt="Sloan Foundation" height="45" /></dd>
    </dl>

    <dl>
        <dt style="width: 100px">Gold Sponsors</dt>
        <dd style="width: 142px"><img src="/2018/assets/img/sponsors/microsoft.png" alt="Microsoft" height="30" /></dd>
        <dd style="width: 88px"><img src="/2018/assets/img/sponsors/maven.png" alt="Maven" height="20" /></dd>
        <dd style="width: 123px"><img src="/2018/assets/img/sponsors/invenia.png" alt="Invenia" height="20" /></dd>
        <dd style="width: 66px"><img src="/2018/assets/img/sponsors/julia.png" alt="Julia Computing" height="30" /></dd>
        <dd style="width: 85px"><img src="/2018/assets/img/sponsors/capitalone.jpg" alt="Capital One" height="30" /></dd>
        <dd style="width: 85px"><img src="/2018/assets/img/sponsors/moore.jpg" alt="Moore Foundation" height="30" /></dd>
    </dl>

    <dl>
        <dt>Silver Sponsors</dt>
        <dd style="width: 130px"><img src="/2018/assets/img/sponsors/gambit.png" alt="Gambit Research" height="30" /></dd>
        <dd style="width: 130px"><img src="/2018/assets/img/sponsors/tangent.png" alt="Tangent Works" height="30" /></dd>
        <dd style="width: 84px"><img src="/2018/assets/img/sponsors/amazon.png" alt="Amazon" height="25" /></dd>
        <dd style="width: 71px"><img src="/2018/assets/img/sponsors/alanturing.png" alt="Alan Turing Institute" height="30" /></dd>
        <dd style="width: 116px"><img src="/2018/assets/img/sponsors/sarnoff.png" alt="Jeffrey Sarnoff" height="10" /></dd>
        <dd style="width: 68px"><img src="/2018/assets/img/sponsors/evn.png" alt="EVN" height="25" /></dd>
        <dd style="width: 129px"><img src="/2018/assets/img/sponsors/conning.png" alt="Conning" height="30" /></dd>
    </dl>
  </div>
</div>