<div class="container">
  <div class="text-center">
    <div class="btn-group btn-group-centered" role="group" aria-label="Talks categories" id="talks-filter">
        <a href="/2018/all_talks.html" class="btn btn-default {% if page.url == '/2018/all_talks.html' %}active{% endif %}" role="button">all</a>
        <a href="/2018/talks.html" class="btn btn-default {% if page.url == '/2018/talks.html' %}active{% endif %}" role="button">talks</a>
        <a href="/2018/lightning_talks.html" class="btn btn-default {% if page.url == '/2018/lightning_talks.html' %}active{% endif %}" role="button">lightning talks</a>
        <a href="/2018/workshops.html" class="btn btn-default {% if page.url == '/2018/workshops.html' %}active{% endif %}" role="button">workshops</a>
    </div>
  </div>
</div>