---
layout: abstracts
title: Workshops
---
<div class="container">
    See <a href="index.html#sched">main page</a> for schedule details.
</div>

<a name="wednesday"><center><h1>Wednesday</h1></center></a>
{% for member in site.data.workshops-wed %}
  <div class="container abstract">
    <p><h2>{{ member.Title }}</h2></p> 
    <p><em>{{ member.Name }}</em></p>
    <p>{{ member.Abstract | markdownify }}</p>
    <p><b>Bio:</b> {{ member.Biography }}</p>
  </div>
{% endfor %}

<a name="saturday"><center><h1>Saturday</h1></center></a>
{% for member in site.data.workshops-sat %}
  <div class="container abstract">
    <p><h2>{{ member.Title }}</h2></p> 
    <p><em>{{ member.Name }}</em></p>
    <p>{{ member.Abstract | markdownify }}</p>
    <p><b>Bio:</b> {{ member.Biography }}</p>
  </div>
{% endfor %}

<div class="container">
  <a href="/index.html">Return to main page</a>.
</div>

