---
layout: default2020
permalink: /2020/accessibility/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Accessibility at JuliaCon</h1>
  <p>
    JuliaCon is committed to providing an accessible and inclusive environment. 
    This page describes the accessibility features of JuliaCon 2020, to help you make an informed 
    decision about whether the conference will be accessible to you. Please contact us if your 
    question is not answered here, or if the conference arrangements as described are not enough 
    to allow you to attend. We will work with you to the best of our ability, to make the conference
    accessible.
  </p>
  <p>
    <b>Q: How do I communicate my accessibility needs to the organisers of JuliaCon 2020?</b>
  </p>
  <p>
    A: You can reach out to Ranjan Anantharaman, the Accessibility Chair 
    at juliacon@julialang.org. At the conference, you should feel free to reach out 
    to any member of the organising committee. 
  </p>
<p>
<b>Q: Will the conference be accessible by wheelchair or power scooter?</b>
</p>
<p>
A: Yes, all of our buildings are accessible by wheelchair or power scooter.
</p>
<p>
<b>
Q: What are the restroom facilities like?</b>
</p>
<p>
A: We have at least 2 male and 2 female restrooms on every floor of the conference venue. 
</p>
<p>
<b>
Q: Can I bring a guide dog?
</b></p>
<p>
A: Sure! Guide dogs and other service animals are welcome at JuliaCon 2020.
</p>
<p>
<b>
Q: Will speakers and audience members be using a microphone for asking questions?
</b></p>
<p>
A: The speakers will use microphones in all rooms. The audience members will be 
using microphones in the keynote rooms, and in the smaller rooms we’ll ask the 
speaker to repeat the question on the microphone.
</p>
<p>
<b>
Q: What food service will be provided?
</b></p>
<p>
A: It is planned to have a meal service at the conference for all participants. 
There are many food options around the conference venue as well.
</p>
<p>
<b>
Q: Will special dietary needs be accommodated?
</b></p>
<p>
A: Yes. If you have an allergy or a dietary preference, 
please indicate this on the registration form. We will aim to accommodate all of them.
</p>
<p>
<b>
Q: Will there be loud music, strobe lighting, spotlights, or other strong sensory experiences?
</b></p>
<p>
A: No.
</p>
<p>
<b>
Q: What if I have a medical emergency or health problem during the conference?
</b></p>
<p>
A: There’s a <a href="https://pics.sams.pt/UnidadesSaude/ClinicasSAMS/Paginas/ClinicaSAMSISCTEIUL.aspx">medical centre</a> on campus. 
The Hospital de Santa Maria, one of the largest hospitals in Portugal, is also situated close to the campus.
</p>
<p>
<b>Q: If my question is not answered here, whom do I contact?</b>
</p>
<p>
A: You can reach out to Ranjan Anantharaman, the Accessibility Chair at juliacon@julialang.org.   
</p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container.html %}
