---
layout: default2020
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2020 Accommodation Guide</h1>
  <p>
    JuliaCon 2020 takes place at the campus of ISCTE-IUL, locatecd near the _Entrecampos_ roundabout in central Lisbon. The nearest 
    metro station is _Entre Campos_, which serves the *Yellow* line of Lisbon Metro. There is also a mainline train station at this location. 
    There are a large number of hotels in close proximity, a few of which are mentioned below. 
    The purpose of this guide is not to make specific recommendations, but to provide an overview of the options.
  </p>

  <h2>Nearby Hotels</h2>
  <p>The following hotels a few hundred meters from the venue</p>
  <ul>
    <li>NH Lisboa Campo Grande</li>
    <li>VIP Executive Entrecampos</li>
    <li>SANA Metropolitan Hotel</li>
  </ul>
  <p>Slightly further away, but still within walking distance are</p>
  <ul>
    <li>Holiday Inn Continental</li>
    <li>Radisson Blu Hotel Lisbon</li>
    <li>Marriott Lisbon</li>
  </ul>
  
  <h2>Parque das Nações</h2>
  <p>Slightly further away is Parque das Nações,a recently re-built region of Lisbon that was developed for an international exposition 1998. 
    The place was dveloped in close connection with the large estuary of the river Tagus. There you will find anything you need 
    to enjoy the view (which is magnificent), lots of restaurants (with large range of prices), 
    and anything you can think of in a modern city
  </p><p>
    To get to the venue, you will have to take the Metro (two lines) or a train (4/5 per hour) to  Entrecampos to get to ISCTE. 
    The train takes just 15 minutes.  </p>
  </p>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}
