---
layout: default2020
permalink: /2020/cfp/
redirect_to:
  - https://pretalx.com/juliacon2020/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Call for Proposals</h1>
  <p>
    We are inviting the Julia community to submit talks and workshop proposals for the upcoming JuliaCon.
    JuliaCon 2018 is the fifth annual Julia community meeting. We encourage everyone who is interested to consider submitting a proposal,
    regardless of your level of experience with Julia or as a speaker. JuliaCon thrives on having talks ranging from introductory to advanced.
    If you are reading this and work with Julia in any form, we want you to consider submitting a proposal!
  </p>
  </div>

{% include_relative footer_container.html %}
