---
layout: default2020
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2020 Organizing Committee</h1>

  <ul>
    <li>Jane Herriman, co-Chair</li>
    <li>Avik Sengupta, co-Chair</li>
    <li>Chris Rackauckas, Program </li>
    <li>Lyndon White, Scheduling</li>
    <li>Renee Spear, Program</li>
    <li>Ranjan Anantharaman, Finance and Accessibility</li>
    <li>Valentin Churavy, Proceedings</li>
    <li>Kevin O'Brien, Media and Publicity</li>
    <li>Vivaldo Mendes, Local</li>
    <li>Mary McGrath, Diversity and Inclusion</li>
    <li>Kelly Shen, Diversity and Inclusion</li>
    <li>August Guang, Events</li>
  </ul>
  <hr style="background-color: #fff;" />
  <p>
    The JuliaCon committee is composed entirely of volunteer organizers
    and can be reached at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a>
    with any questions or comments.
  </p>

</div>

<div class="u-vskip-3"></div>

{% include_relative footer_container.html %}
co-
