---
layout: default2020
permalink: /2020/covid19/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">
  
<h1>JuliaCon goes Virtual!</h1>

<p>
  The JuliaCon organising committee has detemined that the best course of action for the well being of all potential JuliaCon attendees is to hold the JuliaCon remotely this year. While the details are still being finalized, we are working hard to ensure we are still able to provide the amazing JuliaCon experience that those in the community have come to expect.
  
  - The JuliaCon organising committee (April 27th, 2020)
</p>

<h2>Coronavirus Contingencies</h2>

<p>
  At the JuliaCon organising committee, we have been watching the situation around CoVID-19.
  JuliaCon is still many months away, and we hope and expect that the situation will improve substantially by summer.
  However, in the event that it does not, we have been considering contingencies.
</p><p>
  If the situation does not improve substantially by mid May, we will convert the event to an online-only conference. We expect to take a decision and communicate it at least 60 days before the event.
  In that situation, we will refund any purchased conference tickets.
</p><p>
  Assuming the event goes ahead as planned, we will still request participants with symptoms to stay away from the venue. We will provide refunds beyond our usual window in this case. Also, we will follow any travel restrictions (or other advice) instituted by the Government of Portugal.
</p><p>
  Ours is a global community, and we know many of them have already been affected by the virus, directly or indirectly.
  The organisation of JuliaCon must make the safety and security of our community as its primary concern.
  That will be our guiding criteria over the next few months.
</p>

<h3>Submitting Talks</h3>

<p>
If you are worried about submitting a talk and not being able to attend we encourage you to submit anyway.
If  conference goes ahead physically and your talk is accepted, but you can't physically attend we will likely be able to facilitate you presenting remote. If for whatever reason we can't then you will be invited to submit a recording that will be included in with the conference videos.
If we go full-virtual then details will follow when and if that happens.
</p><p>
There will not be an extra-round of submission, or any further extensions of the CFP of we go full or partially virtual.
The review process is fairly involved and we are not equipped to run an additional round.
So make sure you submit, deadline is right around the corner.
</p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container.html %}
