---
layout: default2020
permalink: /2020/covid19/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>Coronavirus Contingencies</h1>

<p>
  At the JuliaCon organising committee, we have been watching the situation around CoVID-19.
  JuliaCon is still many months away, and we hope and expect that the situation will improve substantially by summer.
  However, in the event that it does not, we have been considering contingencies.
</p><p>
  If the situation does not improve substantially by mid May, we will convert the event to an online-only conference. We expect to take a decision and communicate it at least 60 days before the event.
  In that situation, we will refund any purchased conference tickets.
</p><p>
  Assuming the event goes ahead as planned, we will still request participants with symptoms to stay away from the venue. We will provide refunds beyond our usual window in this case. Also, we will follow any travel restrictions (or other advice) instituted by the Government of Portugal.
</p><p>
  Ours is a global community, and we know many of them have already been affected by the virus, directly or indirectly.
  The organisation of JuliaCon must make the safety and security of our community as its primary concern. 
  That will be our guiding criteria over the next few months.
</p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container.html %}
