---
layout: default2020
permalink: /2020/faq/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>FAQs</h1>
  <p>
    <b>Q: Is there financial assistance available?</b>
  </p>
  <p>
	A: Yes! We have financial assistance available for speakers as well as people who will bring diverse experiences to JuliaCon 
	  who would otherwise not be able to attend. Apply <a href="https://docs.google.com/forms/d/e/1FAIpQLSeb0gjPEGbSa6twHIImSfE-xtxoAlO9P0k_WgOv_wrG1eWgUQ/viewform?usp=sf_link">here</a>. If you’re unsure about your eligibility, we recommend you apply anyway!
  </p>
  <p>
  <b>Q: How can I get involved?</b>
  </p>
  <p>
A: If you’re looking for ways to volunteer for JuliaCon 2020, please consider <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2vv8GMJhYZ8bEXNFQVZDQmu3sLxPQmk0mNUOodM7uznvxBQ/viewform">mentoring a new speaker</a>, <a href="https://forms.gle/S6WmAu2nHdWD11yw6">financial assistance application reviewing</a>, and <a href="https://docs.google.com/forms/d/e/1FAIpQLSe11aejuSmt-f6idtYwufrNicp6evnRPIbBPCH8XTLmImcHyg/viewform?usp=sf_link">financial assistance application reviewing</a>.
</p>
<p>
<b>Q: I haven’t presented before. Is there support/guidance available?</b>
</p>
<p>
A: Yes! We have mentors available to help with submissions as well as presenting. <a href="https://docs.google.com/forms/d/e/1FAIpQLScS8-y8PgWa9lRF7yhBAU0bkruEvTsBF2weX_PhDXHr9Civ_A/viewform?usp=sf_link">Request a mentor.</a>
</p>
<p>
<b>
Q: Is there a hotel I should stay at?</b>
</p>
<p>
A: While we are not able to offer discount/group rates at any Lisbon hotels, our local chair has made multiple hotel recommendations. For proximity to ISCTE, we recommend
Hotel NH Lisboa Campo Grande at Campo Grande 7, 1700-087 Lisboa, Portugal (< 10 minute walk from ISCTE)
VIP Executive Entrecampos at Avenida 5 de Outubro 295, 1600-035 Lisboa, Portugal (< 10 minute walk from ISCTE)
SANA Metropolitan at R. Soeiro Pereira Gomes 2, 1600-198 Lisboa, Portugal (<15 minute walk from ISCTE)
</p>
<p>
If you're interested in trying out a trendy area of Lisbon with lots of restaurant options and beach proximity, check out the Parque das Nações areas for other hotel options.
</p>
<p>
Please book early as the summer months are a popular time to visit Lisbon!
</p>
<p><b>
Q: I don’t know anyone who will be attending JuliaCon 2020. Will there be any social event(s) where I can network and make friends?
</b></p>
<p>
A: Yes! Please stay tuned for some fun social events we are planning, such as a buddy program and speaker social. Please also be on the lookout for a list of food recommendations. We want to make JuliaCon a rewarding and fun experience for you!
</p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container.html %}
