---
layout: default2020
permalink: /2020/tickets/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2020: Buy Tickets</h1>

  <p><strong>Update 2020-04-27:</strong> Ticket sales are suspended while we pivot to a virtual event.  Thanks for your Patience!</p>

  <p>
    <div id="eventbrite-widget-container-79192116753"></div>
  </p>
  <p>
    Ticket sales will support the Julia Community through donations to NumFOCUS, a non-profit public charity promoting and supporting the ongoing research and development of open-source scientific data tools through educational, community and public channels.
  </p>
  <h3>Group Tickets</h3>
  <p>Payment via invoices and wire transfers are available for groups of five or more. Please contact us for details.
  </p>

  <h3>Refund Policy</h3>
  <p>Refunds are available up to 30 days prior to the event. After that period, refunds will be considered within 24 hours of purchase, or on a discretionary basis if we are able to sell them on. Please contact us immediately if you change your mind.
  </p>
  <p>We will be also be happy to transfer the registration if the original purchaser is unable to attend. Please email us with your request.
  </p>

  <h3>Contact the Organizers</h3>
  <p>Please email <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> with any questions, comments or suggestions.
  </p>

  <h3>Full Price Tickets</h3>
  <p>Early bird tickets are on sale up to May 31. After that date, full ticket prices will be as follows:</p>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr><td>Talks</td><td>EUR 500</td></tr>
        <tr><td>Workshop</td><td>EUR 350</td></tr>
        <tr><td>Talks + Workshop</td><td>EUR 700</td></tr>
        <tr><td>&nbsp;</td><td>50% discount for students (Middle School, High School, Undergraduate, and Graduate (Master's/PhD)</td></tr>
      </tbody>
    </table>
  </div>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '79192116753',
        iframeContainerId: 'eventbrite-widget-container-79192116753',

        // Optional
        iframeContainerHeight: 625,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
