---
layout: default2020
permalink: /2020/tickets/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2020: Registration</h1>

  <p> JuliaCon has moved online in 2020. As a result, tickets are now free, but registration is required to access the conference facilities.</p>

  <p>
    <div id="eventbrite-widget-container-79192116753"></div>
  </p>


  <h3>Already purchased a ticket?</h3>
  <p>If you have already purchased a ticket, you can request for a refund via the Eventbrite link in your ticket email.
  </p>
  <p>The proceeds from JuliaCon are an important source of revenue for the Julia project, and goes a long way to provide funding for community infrastructure throughout the year.
    If you do not ask for a refund, your ticket will be rolled over to next year (you will also be registered for this year's event).
  </p>

  <h3>Contact the Organizers</h3>
  <p>Please email <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> with any questions, comments or suggestions.
  </p>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '79192116753',
        iframeContainerId: 'eventbrite-widget-container-79192116753',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
