---
layout: default2021
permalink: /2021/committee/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2021 Organizing Committee</h1>

  <ul>
    <li>Jane Herriman, co-Chair</li>
    <li>Avik Sengupta, co-Chair</li>
    <li>Huda Nassar, Program </li>
    <li>Ranjan Anantharaman, Finance</li>
    <li>Valentin Churavy, Proceedings</li>
    <li>Kevin O'Brien, Media and Publicity</li>
    <li>Logan Kilpatrick, Media and Publicity</li>
  </ul>
  <hr style="background-color: #fff;" />
  <p>
    The JuliaCon committee is composed entirely of volunteer organizers
    and can be reached at <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a>
    with any questions or comments.
  </p>

</div>

<div class="u-vskip-3"></div>

{% include_relative footer_container.html %}
co-
