---
layout: default2021
permalink: /2021/faq/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

<h1>FAQs</h1>
  <p>
    <b>Q: Is there financial assistance available?</b>
  </p>
  <p>
	A: As we have moved to a virtual conference for 2021, registration is free! Register for JuliaCon 2021 at the <a href="/2021/tickets/">tickets page</a>.
  </p>
  <p>
  <b>Q: How can I get involved?</b>
  </p>
  <p>
A: If you’re looking for ways to volunteer for JuliaCon 2020, please consider <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2vv8GMJhYZ8bEXNFQVZDQmu3sLxPQmk0mNUOodM7uznvxBQ/viewform">mentoring a new speaker</a>, and <a href="https://forms.gle/ZPeUVtJKJa292tgn9">virtually volunteering</a>.
</p>
<p>
<b>Q: I haven’t presented before. Is there support/guidance available?</b>
</p>
<p>
A: Yes! We have mentors available to help with submissions as well as presenting. <a href="https://docs.google.com/forms/d/e/1FAIpQLScS8-y8PgWa9lRF7yhBAU0bkruEvTsBF2weX_PhDXHr9Civ_A/viewform?usp=sf_link">Request a mentor.</a>
</p>
<p><b>
Q: I don’t know anyone who will be attending JuliaCon 2021. Will there be any social event(s) where I can network and make friends?
</b></p>
<p>
A: Yes! Please stay tuned for some fun social events we are planning, such as a buddy program and speaker social. We want to make JuliaCon a rewarding and fun experience for you!
</p>

</div>

<div class="u-vskip-3"></div>


{% include_relative footer_container.html %}
