---
layout: default2021
permalink: /2021/prize/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>Julia Community Prize</h1>

  <div class="u-vskip"></div>

  <p>The Julia Community Prizes have been announced. A certificate of accomplishement and a cash prize of $1000.00 has been awarded to:</p>
  <h3>XXX YYY</h3>
  <p>For ....</p>
  <p>
    Our congratulations to the winners, and our thanks to the committee.  </p>
  <div class="u-vskip"></div>

  <h2>Awards Committee</h2>
  <p>The members of the committee for 2021 continue to be Prof Alan Edelman, MIT; Prof Tim Holy, WU; and Mr Curtis Vogt, Invenia.
  </p>
</div>

{% include_relative footer_container.html %}
