---
layout: default2021
permalink: /2021/tickets/
---

{% include_relative header.html %}
{% include_relative menubar.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>JuliaCon 2021: Registration</h1>

  <p> JuliaCon will be online in 2021. Tickets will be free, but registration is required to access the conference. 
    Registration will give you access to all the workshops and talks. 
  </p>

  <p>
    <div id="eventbrite-widget-container-137139721599"></div>
  </p>

   <p style='font-size:14px'><em>(Can't see the ticketing widget above? Please wait a few seconds, refesh your browser, 
     or check if a plugin is preventing access.
     <a href="https://www.eventbrite.com/e/juliacon-2021-registration-137139721599">Click here</a> if all else fails.)</em></p>


  <h3>Contact the Organizers</h3>
  <p>Please email <a href="mailto:juliacon@julialang.org">juliacon@julialang.org</a> with any questions, comments or suggestions.
  </p>

</div>

<div class="u-vskip-3"></div>

{% include footer_container.html %}



<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '137139721599',
        iframeContainerId: 'eventbrite-widget-container-137139721599',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
