html {
    color: #393333;
}
a {
    text-decoration: none;
}

a {
    color: #9d253d;
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 48px;
    font-weight: bold;
    font-family: "futura-pt";
    /* font-family: 'Nunito', sans-serif; */
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    font-family: "futura-pt";
    /* font-family: 'Nunito', sans-serif; */
}

h3 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 16px;
    font-family: "futura-pt";
    /* font-family: 'Nunito', sans-serif; */
}

h1,h2,h3,h4 {
    color: #b07950;
}
.link-color-inherit a, a.link-color-inherit {
    color: inherit;
}
.u-slab {
    font-family: "Roboto Slab";
}

.u-futura {
    font-family: "futura-pt";
    /* font-family: 'Nunito', sans-serif; */
}


.banner-bg {
    min-height: 384px;
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.light-button {
    background: #ffffff;
    border: 1px #888 solid;
    color: #222;
}
.red-button {
    background: #cb3c33;
    border: none;
    color: #000;
}

.bg-blue {
    background-color: #426e93;
}

.bg-black {
    background-color: #111;
}
.bg-white {
    background-color: #fff;
}

.bg-light-gray {
    background-color: #ededed;
}
.bg-purple {
    background: #934845;
}
.text-gray {
    color: #575757;
}
.text-light-gray {
    color: #cbd4db;
}
.border-gray {
    border-color: #cbd4db !important;
}

.text-dark-gray {
    color: #1b1b1b;
}
.text-white {
    color: #ffffff;
}
.bg-dark-gray {
    background-color: #1b1b1b;
}
.u-fullwidth {
    width: 98vw;
}

/* //.active {
//    border-top: solid #000 4px;
//    padding-top: 12px;
//    color: #000 !important;
//    font-weight: bold;
//} */

.text-pad {
    padding: 0.333em 1em;
}

.text-red {
    color: #d93939;
}

.bg-light-blue {
    background-color: #61d4e0;
}

.text-medium-blue {
    color: #426e93
}

.bg-dark-blue {
    background-color: #27465c;
}
.text-light-blue {
    color: #6586a1;
}

.bg-white {
    background-color: #ffffff;
}

.text-overflow-fade {
    overflow: hidden;
}

.text-blue {
    color: #416e93;
}

.long-form h2 {
    font-size: 24px;
    font-family: 'futura-pt';
    /* font-family: 'Nunito', sans-serif; */
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding: 1em;
    font-size: 14px;
    border-radius: 7px;
    background: #f7f7f8;
    border: #ebebeb 1px solid;
}
pre, code {
    font-family: monospace;
    background: #f7f7f8;
    border: #ebebeb 1px solid;
}
pre > code {
    background: inherit;
    border: none;
}

code {
    padding: 0.1em 0.5em;
    border-radius: 4px;
}

ul, ol {
    padding-left: 1em;
}

.u-borders {
    border: 1px solid #fff;
}
.u-hborders {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.u-vborders {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.u-border-bottom {
    border-bottom: 1px solid #fff;
}
.u-border-collapse {
    border-collapse:collapse;
}
.u-hpad {
    padding-left: 16px;
    padding-right: 17px;
}

.avatar-circle {
    height: 144px;
    width: 144px;
    border-radius:80px;
    border: 8px solid #fff;
    overflow: hidden;
}
.avatar-circle-talks {
    position: relative;
    left: 8pt;
    top: -2em;
    width: 70pt;
    border-radius: 60px;
    border: 1px solid #888888;
    overflow: hidden;
    background-color: #fff;
}
.avatar-talks {
    color: #bf382e;
    font-size: 12pt;
    position: relative;
    top: -35%;
    min-height: 25pt;
    max-height: 40pt;
}
.headerimg-talks {
    position: relative;
    width: 100%;
    height:20%;
}
.u-fit-width {
    width: 100%;
    height: auto;
}

.avatar-img {
    min-height: 144px;
    min-width: 144px;
    max-height: 144px;
    max-width: 144px;
    height: auto;
    width: auto;
}

.border-white { border-color: white}
.bg-black { background-color: #000000}
.bg-gray-1 { background-color: #282828}
.bg-gray-2 { background-color: #505050}
.bg-gray-3 { background-color: #6E6E6E}
.bg-gray-4 { background-color: #969696}
.bg-white { background-color: #ffffff}.text-black { color: #000000}
.text-gray-1 { color: #282828}
.text-gray-2 { color: #505050}
.text-gray-3 { color: #6E6E6E}
.text-gray-4 { color: #969696}
.text-white { color: #ffffff}.border-black { border-color: #000000}
.border-gray-1 { border-color: #282828}
.border-gray-2 { border-color: #505050}
.border-gray-3 { border-color: #6E6E6E}
.border-gray-4 { border-color: #969696}
.border-white { border-color: #ffffff}

.u-pad-2 {
    padding: 32px;
}

.long-form td, th {
    padding: 0.5em;
    border: #cfcfcf solid 1px;
}
.long-form th {
    font-weight: bold;
}

.banner-gradient {
    background: radial-gradient(circle at bottom right,  #e7a248, #e74248, #9d253d); /* Standard syntax */
    background-color: #e74248;
}

.text-yellow {
    color: #f0b980
}
.text-shadow {
    text-shadow: 2px 2px 2px #7d253d;

}
.bg-yellow {
    background-color: #f0b980
}
.text-maroon {
    color: #9d253d;
}
.bg-maroon {
    background-color: #9d253d;
}

/* new design */
.previous-editions-menu {
    font-size: 11pt;
    color: #666;
}
.previous-editions-menu a {
    color: #666;
}

.main-heading {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1300pt auto;
}

@media (min-width: 0px) {
    .main-heading {
        background-image: url('../img/baltimore_skyline.png');
    }
}

@media (min-width: 480px) {
    .main-heading {
        background-image: url('../img/baltimore_skyline.png');
    }
}

@media (min-width: 768px) {
    .main-heading {
        background-image: url('../img/baltimore_skyline.png');
    }
}

@media (min-width: 992px) {
    .main-heading {
        background-image: url('../img/baltimore_skyline.png');
    }
}

@media (min-width: 1200px) {
    .main-heading {
        background-image: url('../img/baltimore_skyline.png');
    }
}

.main-heading h1 {
    font-size: 40pt;
    font-weight: 900;
    /* color: #bf382e; */
    color: #761c7c;
    margin-top: 20pt;
}

.main-heading h2 {
    color: #4366d0;
}

.main-heading h3 {
    font-size: 16pt;
    color: #4366d0;
    /* color: #ed1c24; */
    line-height: 120%;
}

.heading-copy {

}

.heading-copy .main-title {

}

.main-menu {
    /* background-color: #bf382e; */
    background-color: #4366d0;
}
.main-menu .navbar .navbar-nav a.nav-link {
    color: #fff;
}

.grey-menu {
    background-color: #ededed;
}
.grey-menu .navbar .navbar-nav a.nav-link {
    color: #bf382e;
}

.btn {
    color: #bf382e;
    background-color: #fff;
    border: 1px solid #bf382e;
    border-radius: 0
}
.btn:active{
  background-color: #bf382e;
}

.btn:hover, .btn:focus{
    color: #333;
}

.btn.active {
  color: #fff;
  background-color: #bf382e;
}

.masonry .grid-item {
    /* float: left; */
    /* width: 47%; */
    /* height: auto; */
    /* margin-right: 10pt; */
    /* margin-bottom: 10pt; */
}

.content-box {
    padding: 20pt;
    color: #fff;
    font-size: 14pt;
    font-family: "futura-pt", sans-serif;
}
.content-box h2 {
    font-size: 22pt;
    color: #fff;
}
.content-box a {
    text-decoration: underline;
    color: #f0b980
}

.content-box-talk {
    padding: 12pt;
    color: #333333;
    font-size: 14pt;
    font-family: "futura-pt", sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}
.content-box-talk h2 {
    font-size: 22pt;
    color: #bf382e;
    font-family: "futura-pt", sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}
.content-box-talk p {
    position: relative;
    color: #333333;
    font-size: 14pt;
}
.content-box-talk a {
    color: #bf382e;
    font-size: 12pt;
}
.content-box .content-box-talk a {
  text-decoration: underline;
  color: #f0b980;
  font-size: 14pt;
}
.header-talks {
    color: #bf382e;
    font-size: 12pt;
    width: 100%;
    height: 5%;
}
.speaker-talks {
    font-size: 14pt;
    color: #333333;
    font-weight: 700;
    display: block;
    margin-left: 90pt;
    margin-top: -80pt;
    max-width: 80%;
}
.content-box .speaker-talks {
    color: #fff;
    font-size: 18pt;
    margin-left: 90pt;
}
.content-box .speaker-talks .affiliation {
  font-size: 16px;
}
.content-box .content-box-talk p {
    color: #fff;
}
.red-box {
    background-color: #bf382e;
}
/* .red-box.content-box h2 {
    text-decoration: underline #ee6856;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip-ink: auto;
} */
.white-box {
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 10pt;
}
.light-blue-box {
    background-color: #6581df;
}
.green-box {
    background-color: #64ac58;
}
.dark-blue-box {
    background-color: #3857bd;
}
.purple-box {
    background-color: #854c9e;
}
.dark-purple-box {
    background-color: #553d6b;
}
.dark-green-box {
    background-color: #607d4f;
}
.light-red-box {
    background-color: #ee6856;
}

.content-box-talk h2 a.talk-title {
    font-size: 22pt;
    color: #bf382e;
    font-family: "futura-pt", sans-serif;
    /* font-family: 'Nunito', sans-serif; */
    text-decoration: none;
}

footer {
    background-color: #232323;
    color: #fff;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #e7a248;
}

@media (min-width: 768px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
}

#talks-filter a:hover {
  background-color: #bf382e;
  color: #fff;
}

#talk .avatar-circle-talks {
  position: relative;
  left: 8pt;
  width: 100pt;
  border-radius: 90px;
  border: 1px solid #888888;
  overflow: hidden;
  background-color: #fff;
}

#talk .speaker-talks {
  font-size: 14pt;
  color: #333333;
  font-weight: 700;
  display: block;
  margin-left: 120pt;
  margin-top: -95pt;
  max-width: 80%;
}

p.affiliation {
  font-weight: normal;
  font-size: 10pt;
  margin-bottom: 0;
  min-height: 20pt;
}

#talk p.affiliation {
  font-weight: normal;
  font-size: 12pt;
  min-height: 20pt;
}

.back-link {
  color: #bf382e;
  text-decoration: none !important;
  padding: 2pt;
}

h1, h2, h3, h4, h5, h6 {
  color: #bf382e;
}

.grey-menu .navbar-nav li {
  background-color: #ededed;
}

.earlybird {
  text-align: center;
  background-color: cornsilk;
}

.earlybird a {
  color: #bf382e;
  /* color: #761c7c; */
  text-decoration: none;
}

.sponsors { overflow: auto; }
.sponsors dl { float: left; text-align: left; overflow: auto; vertical-align: middle; }
.sponsors dt { color: #90908f; line-height: 110%; padding-right: 0.5em; }
.sponsors dt, .sponsors dd { float: left; width: 110px; margin: 0; padding: 0; display: inline-block; height: 50px; overflow: auto; }
.sponsors dd { margin-right: 18px; }
