---
layout: default2018
---

{% include earlybird.html %}
{% include header18.html %}
{% include main_nav.html %}

<link rel="stylesheet" href="/{{current_folder}}/assets/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/{{current_folder}}/assets/css/jssocials.css">
<link rel="stylesheet" href="/{{current_folder}}/assets/css/jssocials-theme-minima.css">

<div class="u-vskip-3"></div>
<div class="u-vskip-2"></div>

<div class="container" id="talk">
  <div class="header-talks">
    <div class="avatar-talks">
      {% if page.avatar %}
      <img class="avatar-circle-talks" src="{{ page.avatar }}">
      {% else %}
      <img class="avatar-circle-talks" src="/2018/assets/img/juliatocat.png">
      {% endif %}
      <div class="speaker-talks">
        {{page.speaker}}
        <p class="affiliation">
        {% if page.affiliation != "None" %}
          {{ page.affiliation }}
        {% endif %}
        </p>
      </div>
    </div>
  </div>

  <div class="u-vskip-3"></div>
  <div class="u-vskip-2"></div>

  <hr class="divider" />
  <nav class="navbar">
    <a href="/2018/all_talks.html" class="back-link">⤺ All talks</a>
  </nav>
  <hr class="divider" />

  <div class="content-box-talk">
    <h2>{{page.title}}</h2>

    <p>{{ page.desc | markdownify }}</p>

    <h3>Speaker's bio</h3>
    <p>{{ page.bio | markdownify }}</p>

    {% if page.resources %}
    <h3>Resources</h3>
    <nav class="navbar">
      <ul>
        {% for resource in page.resources %}
        <li>
          <a href="{{resource.url}}" class="nav-link">{{resource.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>

  <hr class="divider" />

  <div id="share"></div>

  <hr class="divider" />

  <nav class="navbar">
    <a href="/2018/all_talks.html" class="back-link">⤺ All talks</a>
  </nav>
</div>

<div class="u-vskip-3"></div>

<footer class="container-fluid" align="center">
  <div class="container">
    <div class="u-vskip"></div>
    <div class="u-vskip"></div>
    <div class="container">
      {% include footer.html %}
    </div>
    <div class="u-vskip"></div>
  </div>
</footer>

<script src="/{{current_folder}}/assets/js/jssocials.min.js"></script>
<script>
    $("#share").jsSocials({
        shares: ["email", "twitter", "facebook", "linkedin", "googleplus", "stumbleupon", "pocket", "whatsapp"],
        showLabel: false,
        showCount: false,
        shareIn: "popup"
    });
</script>
