---
layout: default2018
---
{% include main_nav.html %}

<div class="u-vskip-3"></div>

<div class="container">

  <h1>{{page.speaker}}</h1>
  <p>{{page.affiliation}}</p>
  <h2>{{ page.title }}</h2>


  <h3>Abstract</h3>
  <p>{{ page.abstract }}</p>

  <h3>Speaker's bio</h3>
  <p>{{ page.bio }}</p>

  <div class="u-vskip-3"></div>

  {% if page.resources %}
  <h3>Resources</h3>
     <ul>
     {% for resource in page.resources %}
        <li><a href="{{resource.url}}">{{resource.name}}</a></li>
     {% endfor %}
     </ul>

  {% endif %}

</div>

<div class="u-vskip-3"></div>

<footer class="container-fluid" align="center">
  <div class="container">
  <div class="u-vskip"></div>
  <div class="u-vskip"></div>
  <div class="container">
    {% include footer.html %}
  </div>
  <div class="u-vskip"></div>
</div>
</footer>
